@import '@angular/material/theming';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

$light-app-primary: mat-palette($mat-blue, 700);
$light-app-accent: mat-palette($mat-indigo, A200, A400, 700);
$light-app-warn: mat-palette($mat-red);

$light-theme: mat-light-theme($light-app-primary,
    $light-app-accent,
    $light-app-warn);

@include angular-material-theme($light-theme);

/* Estilos globais */
html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}